<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Available Rooms</title>
    <script src="/js/Search.js"></script>
</head>
<body>
    <label for="maKhachHang">Customer ID:</label>
    <input type="text" id="maKhachHang">

    <label for="sdt">Phone Number:</label>
    <input type="text" id="sdt">

    <button onclick="searchCustomer()">Search</button>

    <div id="customerslist">
        <!-- Results will be displayed here -->
    </div>
</body>


